html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.ai{
    background-color: yellow;
    padding: 10px;
    text-align: center;
    text-shadow: none;
    color: black;
}

*{
    margin: 0;
    padding: 0;

}


.top-bar{
    position:relative;
} 

.img-bck{
    width: 100%;
}

.logo{
    width: 300px;
    object-fit: cover;
    margin: 100px;
    position:absolute;
    top: 10px;left: 20px;
    border-radius:0%;

}

.logo-bottom{
    background-color: #134f5c;
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding: 4px;
    margin: 0 0 100px 0;
}

.logo-bottom-cata{
    background-color: #134f5c;
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding: 15px 4px 4px;
    margin: 0 0 100px 0;
}

.logo-description{
    margin: 20px;
    padding: 16px 0 0;
    font-weight: normal;
    border-top: 1px white solid;
}

.background h2{
    color:white
}

.background h3{
    color:white
}


.background{
    margin: 75px 0 0 0;
    background-image: url(./IMG/fundo7.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 30px 0;
}

.background1{
    margin: 75px 0 0 0;
    background-image: url(./IMG/fundo7.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 30px 0;
}

.background2{
    margin: 75px 0 0 0;
    background-image: url(./IMG/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 30px 0;
    background-attachment: fixed;
}

.background-pdf{
    margin: 0;
    background-image: url(./IMG/fundo7.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 30px 0;
}

.background1-pdf{
    margin: 0;
    background-image: url(./IMG/fundo7.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 30px 0;
}

.background-icon{
    margin: 75px 0;
    background-image: url(./IMG/fundo2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 30px 0;
}



.wrapper{
    margin: 0 30px;
    display:flex;
    justify-content: center;
    gap: 250px;
}

h1,h2,h3,h4,h5{
    color: white
}
h1{
    margin: 10px;
    font-size: 30px;
    font-family: "anton",Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    box-shadow: 2px black;
}

h2{
   width: fit-content;
   color: white;
   font-family: "lato";
   font-weight: normal;
}

h3{
    font-family: "lato",sans-serif;
    color:white;
    max-width: 500px;
    font-weight: 300;
    width: fit-content;
    margin: 10px 45px 0 0;
}

p{
    text-align: justify;
    color: white;
}


.info{
    width: fit-content;
    text-align: center;
}

.produtos{
    width: 350px;
}


.description{
    font-family: "lato",sans-serif;
    color: black;
    max-width: 500px;
    font-weight: 300;
}

.description0{
    font-family: "lato",sans-serif;
    color:white;
    max-width: 500px;
    font-weight: 300;
}
.description0 a{
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    vertical-align: baseline;
    font-family: "bebas neue";
}

a{
    font-size: 20px;
    letter-spacing: 1.5px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    vertical-align: baseline;
    font-family: "bebas neue";
}


.lista{
    max-width: 600px;
    text-align: center;
    color:white;
    font-size: 22px;
    font-family: "anton",arial;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    border-bottom: 1px solid white;
}


.closed{
    display: none;
}



li{
    list-style: none;
    font-size: 12px;
    margin: 12px;
}

.list{
    
    font-size: 18px;
    color:white;
    font-weight: normal;
    text-decoration: underline;
    vertical-align: baseline;
    font-family: "bebas neue";
}

.centro{
    text-align: center;
    display: flex;
    justify-content: center;
}

.info-footer{
    width: fit-content;
    text-align: center;
    display: flex;
}

.produtos-footer{
    width: 350px;
    margin: 15px;
}


.description-footer{
    color: white;
    font-size: 20px;
    text-align: center;
}

.instagram{
    background-color: #FE005C;
    width: 50px;
    border-radius: 100%;
    margin: 15px;
}

.facebook{
    background-color: #1877F2;
    width: 50px;
    border-radius: 100%;
    margin: 15px;
}

.whatsapp{
    width: 53px;
    border-radius: 100%;
    margin: 15px 15px 15px 15px;
}

.footer-end{
    background-color:#134f5c;
    padding: 50px;
    font-family: "lato",sans-serif;
    text-shadow: none;
}

.text-end{
    color: white;
    text-align: center;
    font-size: 12px;
    text-shadow: none;
}

.end{
    color: white;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 80px;
    text-shadow: none;
    font-size: 20px;
}

/* CATÁLAGO */

.background2-cata{
  margin: 20px 0 0;
}

.wrapper-cata{
    margin: 0 30px;
    display:flex;
    justify-content: center;
    gap: 250px;
}

.info-cata{
    width: fit-content;
    text-align: center;
    display: flex;

}

.produtos-cata{
    width: 200px;
    margin: 20px 0;
    padding: 0 30px;
}

.cata-center{
    padding-left: 80px;
}

.description-cata{
    color:white;
    background-color:#53A677;
    width: fit-content;
    padding: 10px;
    margin:0 0 20px 0 ;
    border-radius: 60%;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

.explain{
    width:fit-content;
    margin: 20px 70px 0 0;
    font-size: 14px;
    color: #134f5c;
    font-weight:600;
    text-decoration: none;
    display:table-row-group;
    padding-top:100px ;
    text-shadow: none;
}

.title-tabela{
    color:#191b23;;
    font-family: "DM sans", sans-serif;
    text-shadow: none;
    font-weight: 600;
    margin:0 0 35px 0;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    text-align: center;
    align-items: center;
}

p.explain{
    width:fit-content;
    margin: 5px 0 0 0;
    font-size: 16px;
    display: flex;
    font-family:"DM sans" , sans-serif;
    color: #191b23;;
    font-weight:500;
    text-decoration: none;
    padding:2px 0 0 0;
    text-shadow: none;
    letter-spacing: normal;
}

.ai{
    background-color: yellow;
    padding: 200px;
    text-align: center;
    font-size: 100px;
}

/* TABELAS */


.background-tabela{
    padding:0 50px;
    justify-content: center;
    display: flex;
    margin-bottom: 80px;
}

.wrapper-tabela{
    margin: 0 ;
    display:flex;
    align-items: center;
    gap: 50px;
    text-shadow: none;
    padding: 0px;

}

.info-tabela{
    width: fit-content;
    text-align: center;
    text-shadow: none;
}

.produtos-tabela{
    width: 350px;
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
    /* background-color: purple; */
}

.description0-tabela{
    padding:0px;
    margin: 0px;
    /* background-color: yellow; */
}



.title1-tabela{
    color:#134f5c;
    margin:50px 0 0 ;
    text-align:left;
    text-shadow: none;
    /* background-color: red; */
    font-weight: 500;
    width:70%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.tabela-titulo{
    background-color:#53A677;
    padding: 5px 0 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.tabela-titulo1{
    background-color:#0770B5;
    padding: 5px 0 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.tabela-titulo2{
    background-color:#53A677;
    padding: 10px 10px 10px 15px;
    width: 15%;
    border-top-right-radius: 40px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    margin: 0 0 1px 0;
}
.tabela-titulo3{
    background-color:#0770B5;
    padding: 10px 10px 10px 15px;
    width: 15%;
    border-top-right-radius: 40px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    margin: 5px 0 1px 0;
}

.tabela{
    background-color: #AADFBA;
    padding: 5px 0 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tabela1{
    /* background-color:blue; */
    padding: 5px 0 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color:#f5f6fa;
}
.tabela2{
    /* background-color:blue; */
    padding: 5px 0 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color:#86C4E8;
}

.name-1{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    text-align: center;
    /* background-color: purple; */
    padding: 10px;
    width: 25%;
}


.name1{
    color:#42454A;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0 0 0 0;
    text-align: center;
    /* background-color: gold; */
    padding: 10px;
    width: 25%;
}
.name-1-2{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    text-align: center;
    /* background-color: purple; */
    padding: 10px;
    width: 25%;
}


.name1-2{
    color:#42454A;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0 0 0 0;
    text-align: center;
    /* background-color: gold; */
    padding: 10px;
    width: 25%;
}

dd{
    color: black;
    font-family: sans-serif;
    font-size: 15px;
}


.buttom{
    width: fit-content;
    margin:0;
    background-color:rgba(243, 134, 63, 0.7);
    text-align: center;
    visibility: hidden;
}
.buttom-1{
    width: fit-content;
    margin:0;
    /* background-color:rgba(243, 134, 63, 0.7); */
    text-align: center;
    visibility: visible;
}

.center-tabela{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}


.buttom-a{
    text-decoration: dashed;
    width: fit-content;
    margin: 20px 0 0 30px;
    background-color:rgba(243, 134, 63, 0.7);
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    font-size: 16px;
    visibility: hidden;
}
.buttom-a-1{
    text-decoration: dashed;
    width: fit-content;
    margin: 20px 0 0 30px;
    background-color: rgba(24, 168, 91, 0.7);
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    font-size: 16px;
    visibility: visible;
}

.buttom1{
    width: fit-content;
    margin:10px 0 0 0;
    background-color:rgba(243, 134, 63, 0.7);
    text-align: center;
    display: none;
   border-radius: 6px;
   visibility: hidden;
}
.buttom1-1{
    width: fit-content;
    margin:10px 0 0 0;
    background-color:rgba(243, 134, 63, 0.7);
    text-align: center;
    visibility: hidden;
   border-radius: 6px;
}

.buttom1-a{
    text-decoration: dashed;
    width: fit-content;
    margin: 20px 0 0 30px;
    background-color:rgba(243, 134, 63, 0.7);
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    font-size: 16px;
    visibility: hidden;
}
.buttom1-a-1{
    text-decoration: dashed;
    width: fit-content;
    margin: 20px 0 0 30px;
    background-color: rgba(24, 168, 91, 0.7);
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    font-size: 16px;
}


.item{
    margin: 0px 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow:1px 1px 20px 1px  #f5f6fa;
    border-radius: 55px;
    padding: 16px;
    transition: 0.3s;
}

.item:hover{
    box-shadow:1px 1px 20px 1px #e2e5f0;
    transition: 0.3s;
}

.esconde{
    display: none;
}

.toda-tabela{
    width: 700px;
}

@media (max-width: 1350px){

    .buttom1-1{
        margin: 10px 0 40px 0;
    }
    
    .title-tabela{
        font-size: 18px;
    }
    p.explain{
        font-size: 14px;
    }

    .tabela-titulo2{
        font-size: 18px;
    }
    .tabela-titulo3{
        font-size: 18px;
    }
}
@media (max-width: 1200px){
    .toda-tabela{
        width: 600px;
    }
    .name-1-2{
        font-size: 15px;
    }

    .name1-2{
        font-size: 15px;
    }
    .name-1{
        font-size: 15px;
    }

    .name1{
        font-size: 15px;
    }
    .tabela-titulo2{
        font-size: 15px;
    }
    .tabela-titulo3{
        font-size: 15px;
    }
}

@media (max-width: 1087px){
    .name-1-2{
        font-size: 13px;
    }

    .name1-2{
        font-size: 13px;
    }
    .name-1{
        font-size: 13px;
    }

    .name1{
        font-size: 13px;
    }
    .tabela-titulo2{
        font-size: 13px;
    }
    .tabela-titulo3{
        font-size: 13px;
    }
}

@media (max-width: 1050px){
    .wrapper-tabela{
        flex-direction: column;
        /* width: 100%; */
        align-items: center;
        gap: 40px !important;
        margin: 40px 20px 50px;
    }

    .logo-bottom-cata{
        margin: 0 0 10px 0;
    }

    .background-tabela{
        margin: 0 ;
        /* width: 90%; */
        padding: 0;
        justify-content: center;
    }

    .buttom-a-1{
        display: none;
    }
    .buttom1-a-1{
        visibility: visible;
        margin-top: 10px;
    }
    .buttom1-1{
        margin-top: 15px;
    }

    .esconde{
        display: flex;
    }
    
    .title1-tabela{
        display: flex;
        flex-direction: column;
    }
    .name-1-2{
        font-size: 16px;
    }

    .name1-2{
        font-size: 16px;
    }
    .name-1{
        font-size: 16px;
    }

    .name1{
        font-size: 16px;
    }
    .tabela-titulo2{
        font-size: 16px;
    }
    .tabela-titulo3{
        font-size: 16px;
    }

   
    .toda-tabela{
        width: 700px;
    }
}

@media (max-width: 850px){
    .toda-tabela{
        width: 500px;
    }
    .name-1-2{
        font-size: 14px;
    }

    .name1-2{
        font-size: 14px;
    }
    .name-1{
        font-size: 14px;
    }

    .name1{
        font-size: 14px;
    }
    .tabela-titulo2{
        font-size: 14px;
    }
    .tabela-titulo3{
        font-size: 14px;
    }
    .buttom1-a-1{
        font-size: 14px;
    }
}

@media (max-width: 620px){
    .toda-tabela{
        width: 500px;
    }
}
@media (max-width: 550px){
    .toda-tabela{
        width: 450px;
    }
    .name-1-2{
        font-size: 15px;
    }

    .name1-2{
        font-size: 15px;
    }
    .name-1{
        font-size: 15px;
    }

    .name1{
        font-size: 15px;
    }
    .tabela-titulo2{
        font-size: 15px;
    }
    .tabela-titulo3{
        font-size: 15px;
    }
}
@media (max-width: 480px){

    .toda-tabela{
        width: 400px;
    }

    .name-1-2{
        font-size: 12px;
    }
    .name1-2{
        font-size: 12px;
    }
    .name-1{
        font-size: 12px;
    }
    .name1{
        font-size: 12px;
    }
    .tabela-titulo2{
        font-size: 12px;
    }
    .tabela-titulo3{
        font-size: 12px;
    }

    .produtos-tabela{
        width: 200px;
    }
    
    .title1-tabela{
        font-size: 16px;
    }
    .title-tabela{
        font-size: 16px;
    }
    .title1-tabela{
        font-size: 16px;
    }
    p.explain{
        font-size: 10px;
    }
}



@media (max-width: 420px){
    .toda-tabela{
        width: 350px;
    }
    .name-1-2{
        font-size: 10px;
    }

    .name1-2{
        font-size: 10px;
    }
    .name-1{
        font-size: 10px;
    }

    .name1{
        font-size: 10px;
    }
    .tabela-titulo2{
        font-size: 10px;
    }
    .tabela-titulo3{
        font-size: 10px;
    }
}

@media (max-width: 380px){
    .name-1{
        font-size: 10px;
    }
    .name1{
        font-size: 10px;
    }
    .name-1-2{
        font-size: 10px;
    }
    .name1-2{
        font-size: 10px;
    }

    .title1-tabela{
        font-size: 20px !important;
    }
    .produtos-tabela{
        width: 250px;
    }
    .buttom1-a{
        font-size: 10px;
    }

    p.explain{
        font-size: 8px;
    }

    .wrapper-tabela{
        gap: 20px !important;
    }

    .item{
        border-radius: 10px;
    }
    
}

@media(max-width: 350px){
    .background-tabela{
        justify-content: flex-end;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
    .toda-tabela{
        width: 300px;
    }
    .title-tabela{
        font-size: 12px;
    }

    p.explain{
        font-size: 8px;
    }
}

@media (max-width: 320px){
    .toda-tabela{
        width: 250px;
    }
    .name-1{
        font-size: 6px;
    }
    .name1{
        font-size: 8px;
    }
    .name-1-2{
        font-size: 6px;
    }
    .name1-2{
        font-size: 8px;
    }
    .produtos-tabela{
        width: 150px;
    }

    .title-tabela{
        font-size: 8px;
    }

    p.explain{
        font-size: 6px;
    }
}
