html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

*{
    margin: 0;
    padding: 0;
}

@media (max-width: 1300px){
    .produtos-footer{
        width: 250px !important;
    }
}

@media only screen and (max-width:1150px){
    .info-footer{
        width: fit-content;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    
    
}
@media only screen and (max-width:980px){
    
    .wrapper{
        margin: 0 30px;
        display:flex;
        justify-content: center;
        gap: 50px !important;
        flex-wrap: wrap;
    }
    .lista{
        margin-top: 60px;
    }
    .centro1{
        justify-content: center;
    }
}

@media (max-width:750px){
    .lista{
        border-bottom: none !important;
    }
}
@media (max-width:720px){
    .lista{
        font-size: 18px !important;
    }
}
@media (max-width:650px){
    .lista{
        font-size: 16px !important;
    }
}

@media (max-width:550px){
    .produtos{
        width: 170px !important;
    }
    
    .lista{
        border-bottom: none !important;
    }
}
@media (max-width:350px){
    .produtos{
        width: 100px !important;
    }
    .produtos-footer{
        width: 100px !important;
    }
    .description-footer{
        font-size: 12px !important;
    }
    .whatsapp{
        width: 43px !important;
    }
    .instagram{
        width: 40px !important;
    }
    .facebook{
        width: 40px !important;
    }
}

@media (max-width: 280px){
    .info-icon{
        flex-direction: column;
    }
}

.top-bar{
    position:relative;
} 

.img-bck{
    width: 100%;
}

.logo{
    width: 300px;
    object-fit: cover;
    margin: 100px;
    position:absolute;
    top: 10px;left: 20px;
    border-radius:0%;

}

.logo-bottom{
    background-color: #134f5c;
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding: 4px;
    margin: 0 0 100px 0;
}

.logo-bottom-cata{
    background-color: #134f5c;
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding: 15px 4px 4px;
    margin: 0 0 100px 0;
}

.logo-description{
    margin: 20px;
    padding: 16px 0 0;
    font-weight: normal;
    border-top: 1px white solid;
}

.background h2{
    color:#18A85B;
}

.background h3{
    color:#18A85B;
}


.background{
    margin: 75px;
    background-color: white;
    padding: 30px 0;
    box-shadow:5px 5px 20px 15px #f5f6fa;
    /* width: 90%; */
    border-radius: 100px;
    transition: 0.3s;
}
.background:hover{
    cursor:default;
    box-shadow:5px 5px 20px 17px #e2e5f0;
    transition: 0.2s;
}


/* .background2{
    margin: 75px 0 0 0;
    background-image: url(./IMG/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 30px 0;

} */

.background2{
    margin: 75px;
    background-color: white;
    padding: 30px 0;
    box-shadow:5px 5px 20px 15px #f5f6fa;
    /* width: 90%; */
    border-radius: 100px;
    transition: 0.3s;
}
.background2:hover{
    cursor:default;
    box-shadow:5px 5px 20px 17px #e2e5f0;
    transition: 0.2s;
}

/* .background-pdf{
    margin: 0;
    background-image: url(./IMG/fundo8.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 30px 0;
}

.background1-pdf{
    margin: 0;
    background-image: url(./IMG/fundo8.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 30px 0;
} */

.background-icon{
    margin: 75px 0;
    background-image: url(./IMG/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 30px 0;
    display: block;
}



.wrapper{
    margin: 0 30px;
    display:flex;
    justify-content: center;
    gap: 250px;
}


h1,h2,h3,h4,h5{
    color: #18A85B
}
h1{
    margin: 0px;
    font-size: 30px;
    font-family: "bebas neue",Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow:none;
    color:#5EC1E3;
}
h1.dois{
    margin: 0px;
    font-size: 30px;
    font-family: "bebas neue",Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow:none;
    color:  #9E2A97;
}
h1.três{
    margin: 0px;
    font-size: 30px;
    font-family: "bebas neue",Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow:none;
    color: #F3863F;
}
h1.quatro{
    margin: 0px;
    font-size: 30px;
    font-family: "bebas neue",Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow:none;
    color: #FFD035;
}
h1.cinco{
    margin: 0px;
    font-size: 30px;
    font-family: "bebas neue",Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow:none;
    color: #FF283A;
}
h1.seis{
    margin: 0px;
    font-size: 30px;
    font-family: "bebas neue",Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow:none;
    color: #18A85B;
}
h1.sete{
    margin: 0px;
    font-size: 30px;
    font-family: "bebas neue",Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow:none;
    color:#262682;
}

h2{
    font-size: 18px;
    margin-bottom: 15px; 
}
h2.um{
    font-size: 18px;
    margin-bottom: 15px; 
    color: #5EC1E3;
}
h2.dois{
    font-size: 18px;
    margin-bottom: 15px;
    color: #9E2A97;
}
h2.três{
    font-size: 18px;
    margin-bottom: 15px;
    color: #F3863F;
}
h2.quatro{
    font-size: 18px;
    margin-bottom: 15px;
    color: #FFD035;
}
h2.cinco{
    font-size: 18px;
    margin-bottom: 15px;
    color:#FF283A;
}
h2.seis{
    font-size: 18px;
    margin-bottom: 15px;
    color: #18A85B;
}
h2.sete{
    font-size: 18px;
    margin-bottom: 15px;
    color:#262682;
}


.produtos-title{
   color:#18A85B;
   font-family: "lato";
   font-weight: 400;
   font-size: 16px;
   margin: 0px 0 40px 40px;
   display: flex;
   justify-content: center;
    list-style: normal;
}
.titulo2-lista{
   color: #5EC1E3;
   font-family: "lato";
   font-weight: 600;
   font-size: 18px;
   margin: 10px 0 0;
   display: flex;
   justify-content:flex-start;
    list-style: normal;
}
.titulo2-lista-2{
   color: #9E2A97;
   font-family: "lato";
   font-weight: 600;
   font-size: 18px;
   margin: 10px 0 0;
   display: flex;
   justify-content:flex-start;
    list-style: normal;
}
.titulo2-lista-3{
   color: #F3863F;
   font-family: "lato";
   font-weight: 600;
   font-size: 18px;
   margin: 10px 0 0;
   display: flex;
   justify-content:flex-start;
    list-style: normal;
}
.titulo2-lista-4{
   color:#FFD035;
   font-family: "lato";
   font-weight: 600;
   font-size: 18px;
   margin: 10px 0 0;
   display: flex;
   justify-content:flex-start;
    list-style: normal;
}
.titulo2-lista-5{
   color:#FF283A;
   font-family: "lato";
   font-weight: 600;
   font-size: 18px;
   margin: 10px 0 0;
   display: flex;
   justify-content:flex-start;
    list-style: normal;
}
.titulo2-lista-6{
   color: #18A85B;
   font-family: "lato";
   font-weight: 600;
   font-size: 18px;
   margin: 10px 0 0;
   display: flex;
   justify-content:flex-start;
    list-style: normal;
}
.titulo2-lista-7{
   color:#262682;
   font-family: "lato";
   font-weight: 600;
   font-size: 18px;
   margin: 10px 0 0;
   display: flex;
   justify-content:flex-start;
    list-style: normal;
}



.list-produtos{
    display: flex;
    margin: 5px;
    /* color: #9C9C9C; */
    color: #807f7f;
    font-family: Arial, Helvetica, sans-serif;
}

.central{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
}

h3{
    font-family: "lato",sans-serif;
    color:#18A85B;
    max-width: 500px;
    font-weight: 300;
    width: fit-content;
    margin: 10px 45px 0 0;
}
h3.um{
    font-family: "lato",sans-serif;
    color:#5EC1E3;
    max-width: 500px;
    font-weight: 300;
    width: fit-content;
    margin: 10px 45px 0 0;
}
h3.dois{ 
    font-family: "lato",sans-serif;
    color:#9E2A97;
    max-width: 500px;
    font-weight: 300;
    width: fit-content;
    margin: 10px 45px 0 0;
}
h3.três{
    font-family: "lato",sans-serif;
    color:#F3863F;
    max-width: 500px;
    font-weight: 300;
    width: fit-content;
    margin: 10px 45px 0 0;
}
h3.quatro{
    font-family: "lato",sans-serif;
    color:#FFD035;
    max-width: 500px;
    font-weight: 300;
    width: fit-content;
    margin: 10px 45px 0 0;
}
h3.cinco{
    font-family: "lato",sans-serif;
    color:#FF283A;
    max-width: 500px;
    font-weight: 300;
    width: fit-content;
    margin: 10px 45px 0 0;
}
h3.seis{
    font-family: "lato",sans-serif;
    color: #18A85B;
    max-width: 500px;
    font-weight: 300;
    width: fit-content;
    margin: 10px 45px 0 0;
}
h3.sete{
    font-family: "lato",sans-serif;
    color:#262682; 
    max-width: 500px;
    font-weight: 300;
    width: fit-content;
    margin: 10px 45px 0 0;
}

p{
    text-align: justify;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
}


.info{
    width: fit-content;
    text-align: center;
    /* color: #134f5c; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.info-icon{
    width: fit-content;
    text-align: center;
    /* color: #134f5c; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
}

.produtos{
    width: 350px;
    background-color:white;
    padding:15px;
    border-radius: 100%;
    margin-bottom: 25px;
}

a.espaço{
    color:#5EC1E3;
}
a.espaço-2{
    color: #9E2A97;
}
a.espaço-3{
    color: #F3863F;
}
a.espaço-4{
    color: #FFD035;
}
a.espaço-5{
    color:#FF283A;
}
a.espaço-6{
    color: #18A85B;
}
a.espaço-7{
    color: #262682;
}



.description{
    font-family: "lato",sans-serif;
    color: black;
    max-width: 500px;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.description-2{
    font-family: "lato",sans-serif;
    color: #9E2A97;
    max-width: 500px;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.description0{
    font-family: "lato",sans-serif;
    color:#18A85B;
    max-width: 500px;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.description0 a{
    font-size: 18px;
    color:#18A85B;
    font-weight: bold;
    text-decoration: underline;
    vertical-align: baseline;
    font-family: "bebas neue";
    
}
.description0-3 a{
    font-size: 18px;
    color: #F3863F;
    font-weight: bold;
    text-decoration: underline;
    vertical-align: baseline;
    font-family: "bebas neue";
    
}

a{
    font-size: 20px;
    letter-spacing: 1.5px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    vertical-align: baseline;
    font-family: "bebas neue";
}



.closed{
    display: none;
}



li{
    list-style: none;
    font-size: 12px;
    margin: 12px;
}


.centro{
    text-align: center;
    display: flex;
    justify-content: center;
    display: none;
    
}

.lista{
    max-width: 600px;
    text-align: center;
    color:white;
    margin-top: 30px;
    font-size: 22px;
    font-family: "bebas neue",arial;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    background-color: #18A85B;
    padding: 10px;
    border-radius: 20px;
    
}


.list{
    
    font-size: 18px;
    color:white;
    font-weight: normal;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "bebas neue";
}

.centro1{
    display: flex;
    color: white;
}


.lista1{
    max-width: 600px;
    text-align: center;
    color:white;
    margin-top: 30px;
    font-size: 22px;
    font-family: "bebas neue",arial;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    background-color:#5EC1E3;
    padding: 10px;
    border-radius: 20px;
}
.lista1-2{
    max-width: 600px;
    text-align: center;
    color:white;
    margin-top: 30px;
    font-size: 22px;
    font-family: "bebas neue",arial;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    background-color: #9E2A97;
    padding: 10px;
    border-radius: 20px;
}
.lista1-3{
    max-width: 600px;
    text-align: center;
    color:white;
    margin-top: 30px;
    font-size: 22px;
    font-family: "bebas neue",arial;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    background-color: #F3863F;
    padding: 10px;
    border-radius: 20px;
}
.lista1-4{
    max-width: 600px;
    text-align: center;
    color:white;
    margin-top: 30px;
    font-size: 22px;
    font-family: "bebas neue",arial;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    background-color: #FFD035;
    padding: 10px;
    border-radius: 20px;
}
.lista1-5{
    max-width: 600px;
    text-align: center;
    color:white;
    margin-top: 30px;
    font-size: 22px;
    font-family: "bebas neue",arial;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    background-color:#FF283A;
    padding: 10px;
    border-radius: 20px;
}
.lista1-6{
    max-width: 600px;
    text-align: center;
    color:white;
    margin-top: 30px;
    font-size: 22px;
    font-family: "bebas neue",arial;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    background-color: #18A85B;
    padding: 10px;
    border-radius: 20px;
}
.lista1-7{
    max-width: 600px;
    text-align: center;
    color:white;
    margin-top: 30px;
    font-size: 22px;
    font-family: "bebas neue",arial;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    background-color:#262682;
    padding: 10px;
    border-radius: 20px;
}


a.list1{
    
    font-size: 18px;
    color:white ;
    font-weight: normal;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "bebas neue";
}


.wrapper-footer{
    margin: 0 30px;
    display:flex;
    justify-content: center;
    gap: 250px;
}

.info-footer{
    width: fit-content;
    text-align: center;
    display: flex;
}

.produtos-footer{
    width: 350px;
    margin: 15px;
}


.description-footer{
    color:#42454A;
    font-size: 20px;
    text-align: center;
}
a.description-footer{
    color:#42454A;
    font-size: 20px;
    text-align: center;
    text-decoration:  none;
}

.instagram{
    background-color: #FE005C;
    width: 50px;
    border-radius: 100%;
    margin: 15px;
}

.facebook{
    background-color: #1877F2;
    width: 50px;
    border-radius: 100%;
    margin: 15px;
}

.whatsapp{
    width: 53px;
    border-radius: 100%;
    margin: 15px 15px 15px 15px;
}

.footer-end{
    background-color:#134f5c;
    padding: 50px;
    font-family: "lato",sans-serif;
    text-shadow: none;
}

.text-end{
    color: white;
    text-align: center;
    font-size: 12px;
    text-shadow: none;
}

.end{
    color: white;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 80px;
    text-shadow: none;
    font-size: 20px;
}

/* CATÁLAGO */

.background2-cata{
  margin: 20px 0 0;
}

.wrapper-cata{
    margin: 0 30px;
    display:flex;
    justify-content: center;
    gap: 250px;
}

.info-cata{
    width: fit-content;
    text-align: center;
    display: flex;

}

.produtos-cata{
    width: 200px;
    margin: 20px 0;
    padding: 0 30px;
}

.cata-center{
    padding-left: 80px;
}

.description-cata{
    color:white;
    background-color:#53A677;
    width: fit-content;
    padding: 10px;
    margin:0 0 20px 0 ;
    border-radius: 60%;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

.explain{
    width:fit-content;
    margin: 20px 70px 0 0;
    font-size: 14px;
    color: #134f5c;
    font-weight:600;
    text-decoration: none;
    display:table-row-group;
    padding-top:100px ;
    text-shadow: none;
}

.ai{
    background-color: yellow;
    padding: 200px;
    text-align: center;
    font-size: 100px;
}

/* TABELAS */


.background-tabela{
    padding:0 50px;
    margin:0 0 140px 110px;
    display: ruby-text;
    width: 80%;
}

.wrapper-tabela{
    margin: 0 ;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-shadow: none;
    padding: 0px;

}

.info-tabela{
    width: fit-content;
    text-align: center;
    text-shadow: none;
}

.produtos-tabela{
    width: 350px;
    margin: 0px;
    padding-top: 90px;
    padding-left: 100px;
    /* background-color: purple; */
}

.description0-tabela{
    padding:0px;
    margin: 0px;
    /* background-color: yellow; */
}

.title-tabela{
    color:#134f5c;
    margin:0 200px 50px 0;
    text-align:left;
    text-shadow: none;
    /* background-color: red; */
    font-weight: 500;
    width:70%;
}

.toda-tabela{
    background-color: palevioletred;
    padding: 10px;
}

.tabela-titulo{
    background-color:#53A677;
    padding: 5px 0 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tabela{
    background-color: #AADFBA;
    padding: 5px 0 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tabela1{
    background-color:blue;
    padding: 5px 0 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.name-1{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    text-align: center;
    background-color: purple;
}

.tabela-meio{
    background-color: red;
    padding: 10px;
}

.name1{
    color:#42454A;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0 0 0 0;
    text-align: center;
    background-color: gold;
}

dd{
    color: black;
    font-family: sans-serif;
    font-size: 15px;
}


.buttom{
    width: fit-content;
    margin: 20px 0 0 0px;
    background-color: #53A677;
   
}

.buttom-a{
    text-decoration: dashed;
    width: fit-content;
    margin: 20px 0 0 30px;
    background-color:#53A677;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-size: 16px;
}